//get nunito font
// @import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Nunito");
//use the font in the body
body {
    font-family: "Nunito", sans-serif;
}

.font_size {
    font-size: 2rem;
}

.image-container {
    width: 100%;
    margin: 0 auto 0px auto;
}

.image-container img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

.upload_label {
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
}

.save_button {
    display: block;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 18px 0;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    border: none;
}
.upload_margin {
    margin-bottom: 20px !important;
}

#del_password {
    -webkit-text-security: disc;
}

table.dataTable tbody td {
    vertical-align: middle;
}

.font_icon_size {
    font-size: 1.11rem;
}

.custom-file-button {
    &:hover {
        .input-group-text {
            background-color: #dde0e3;
            color: #000;
        }
    }
    //on click do glow effect around the field like in bootstrap 5 choose field example
    &:focus-within {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-dialog {
    width: 90%;
}

.imgContainer {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    // background-size: cover;
    img {
        position: absolute;
        top: 0;
        height: 102%;
        object-fit: contain;
    }
}

.ellipsis {
    float: left;
    overflow: hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.hyphens {
    hyphens: auto;
}

.post-content {
    width: 100%;
}

.post-content {
    img {
        max-width: 100%;
        height: auto;
    }
    iframe {
        max-width: 100%;
    }
}
// .video-container {
//     max-width: 100%;
// }

#toggle-theme {
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-moon {
        color: black;
    }
    .icon-sun {
        color: #ffc107;
    }
}

.icon-moon,
.icon-sun {
    font-size: 1.5rem;
}
